.checkboxItem
    display: flex

    .checkboxArea
        width: 5rem

    .contentArea
        .label
            cursor: pointer

    .footer
        margin-top: 10px
        font-size: 1.2rem
        color: $palette-grey-500
        display: flex
        flex-direction: row
        justify-content: space-between
        white-space: nowrap
