html,
body,
.react-container,
.root,
.leaflet-container,
  width: 100%
  height: 100%
  padding: 0
  margin: 0

.controlPane
.mapPane
  position: absolute
  bottom: 0
  right: 0
  left: 0
  top: 0

.mapPane
  z-index: $z-index-lower

.controlPane
  z-index: $z-index-lower + 1
  display: flex
  flex-direction: row
  justify-content: flex-end
  padding: 10px

.sidebarContents
  padding: 10px
